<ul class="vote-results">
<% for response in @poll.responses %>
  <li>
    <strong><%= response.answer %></strong> &mdash; <%= response_results(response) %>
  </li>
<% end %>
</ul>
<% if cookies[cookie_for(@poll)] && current_user.able_to?(:edit_content)-%>
    <%= link_to "Vote Again (Reset Cookie)", poll_reset_path(@poll)  %>
<% end %>
<% if params[:return] == 'true' %>
    <%= link_to_function "Back to Poll", 'history.go(0);return false;' %>
<% end %>
